<div id="post-<%= post.id %>" class="post">
    
    <h2 class="text-center"><%= @post.title %> 
    <span class="pull-right"><%= render partial:"posts/buttons", locals: { post: post }%>
</span></h2>
   
    <p class="well well-lg content">
        <%= @post.content %>
    </p>
</div>

